<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e30cf75a-8e7c-4a92-9762-95dc1b2020d7/resourceGroups/az204-rgrp/providers/Microsoft.Web/sites/appvm</ResourceId>
    <ResourceGroup>az204-rgrp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://appvm.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://appvm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$appvm</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>